* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font: 1.2em sans-serif;
}

html,
body {
  border: none;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
}
